* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', Arial, serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container-header {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9990;
}

.button {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-left: 20px;
    list-style-type: none;
    box-shadow: 6px 3px 14px -2px rgba(0,0,0,0.39);
}

.button a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: inline-block;
    width: 100%;
}

 .container-pagina {
    width: 100%;
    height: 100vh;
    position: relative;
 }

#pagina1 {
    background-color: red;
}

#pagina2 {
    background-color: green;
}

#pagina3 {
    background-color: yellow;
}

.container-pagina h2 {
    text-transform: uppercase;
}

#pagina1 h2, #pagina2 h2 {
    color: yellow;
}

#pagina3 h2 {
    color: green;
}

.container-item {
    width: 45%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-item img {
    width: 100%;
}

.container-item h2 {
    text-align: center;
    font-size: 50px;
    word-spacing: 12px;
    font-weight: 900;
}



/* ***** debug ***** */
 .debug {
    background-color: tomato;
}