* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container-header {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 20px;
}

.button {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-left: 20px;
}




/* ***** debug ***** */
.debug {
    background-color: tomato;
}